<!doctype html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Admin Overtech - Mediadiv Ltda</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->


         {% include "TheClickCmsAdminBundle:Layers:cssprincipal.html.twig" %}


    </head>

    <body class="dashboard-page">

        <script>
	        var theme = $.cookie('protonTheme') || 'default';
	        $('body').removeClass (function (index, css) {
	            return (css.match (/\btheme-\S+/g) || []).join(' ');
	        });
	        if (theme !== 'default') $('body').addClass(theme);
        </script>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


   {% include "TheClickCmsAdminBundle:Layers:menu.html.twig" %}

        <section class="wrapper scrollable">



            <section class="title-bar">
                <div>
                    <span> Admin </span>
                    <nav class="dashboard-menu">
                        <a href="javascript:;">
                            <i class="icon-cog toggle-widget-setup"></i>
                            <i class="menu-state-icon icon-sort-up"></i>
                            <i class="menu-state-icon icon-caret-down active"></i>
                        </a>
                        <ul>

                            <li><a data-toggle="modal" href="#quickLaunchModal">Menu </a></li>
                            <li><a data-toggle="modal" href="#quickLaunchModal">Menu </a></li>
                            <li><a href="javascript:;">Third Menu Item</a></li>
                        </ul>
                    </nav>
                </div>
            </section>
            <div>
                <section class="col-md-10" style="margin-left:5%;margin-top:2%;">
		{% block formularioeditarempresa %}
		<form action="{{path('guardarEditarEmpresa')}}" method="POST">
		<fieldset>
			<legend>Editar / Empresa: </legend>
		</fieldset>
		<input type="hidden" name="id" value="{{empresa.id}}"/>
		<label for="pais"> Selecciones pais:</label>
		<select name="pais" class="form-control">
			<option value="Argentina">Argentina</option>
			<option value="Bolivia">Bolivia</option>
			<option value="Brasil">Brasil</option>
			<option value="Canadá">Canadá</option>
			<option value="Chile" selected>Chile</option>
			<option value="Colombia">Colombia</option>
			<option value="Costa Rica">Costa Rica</option>
			<option value="Cuba">Cuba</option>
			<option value="Dinamarca">Dinamarca</option>
			<option value="Dominica">Dominica</option>
			<option value="Ecuador">Ecuador</option>
			<option value="El Salvador">El Salvador</option>
			<option value="España">España</option>
			<option value="Estados Unidos">Estados Unidos</option>
			<option value="Guadalupe">Guadalupe</option>
			<option value="Guatemala">Guatemala</option>
			<option value="Guayana">Guayana</option>
			<option value="Guayana Francesa">Guayana Francesa</option>
			<option value="Honduras">Honduras</option>
            <option value="México">México</option>
            <option value="Panamá">Panamá</option>
            <option value="Perú">Perú</option>
            <option value="Portugal">Portugal</option>
            <option value="Puerto Rico">Puerto Rico</option>
            <option value="Reino Unido">Reino Unido</option>
            <option value="República Dominicana">República Dominicana</option>
			<option value="Uruguay">Uruguay</option>
			<option value="Venezuela">Venezuela</option>
		</select>
		<label for="detalle"> Detalle:</label>
		<textarea name="detalle" rows="8" cols="40" class="form-control">{{empresa.detalle}}</textarea>
		<label for="nombre"> Nombre Empresa: </label>
		<input name="nombre" type="text" class="form-control" value="{{empresa.nombre}}"/>
		<label for="correo">Correo electronico (admin):</label>
		<input name="correo" type="text" class="form-control" value="{{empresa.correo}}"/>
		<br>
		<input type="submit" value="Guardar &rarr;" class="btn btn-primary"/>
        <a href="{{path('vistaUploadEmpresa2')}}" class="btn btn-primary">Agregar Imagen</a>
		</form>        
        
        <table id="fotoempresa">
            <thead>
                <th>Foto Empresa: </th>
            </thead>
            <tbody>
                {% set fotos = empresa.fotos %}
                {% for fotos in fotos %}
                <tr id="foto-{{fotos.id}}">
                    <td>
                        <img src="../../../empresas/{{empresa.id}}/{{fotos.url}}" alt="{{fotos.url}}" height="120" width="120" />
                        <br>
                        <a id="fotoempresa-{{fotos.id}}" class="eliminar">
                            <button class="btn btn-danger" style="margin: 30px;">Eliminar</button>
                        </a>    
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <form id="formEliminarFotoEmpresa" action="{{path('eliminarFotoEmpresa')}}"></form>
        </section>
        </div>
        </section>
        <div id="quickLaunchModal" tabindex="-1" role="dialog" class="modal fade">
        </div>
        
        
		{% endblock %}
        
        <script type="text/javascript">
        $(document).ready(function() {
            $("#fotoempresa").on('click', '.eliminar', function(e) {
                e.preventDefault();
                var clickedID = this.id.split('-');
                var DbNumberID = clickedID[1]; // toma el numero del array
                var myData = 'recordToDelete=' + DbNumberID;

                console.log(myData);

                
                jQuery.ajax({
                        type: "POST",
                        url: $('#formEliminarFotoEmpresa').attr('action'),
                        dataType: "text",
                        data: myData,
                        success: function(response) {
                          $('#foto-' + DbNumberID).hide('slow');;

                        },
                        error: function(xhr, ajaxOptions, thrownError) {

                            alert(thrownError);

                        }

                });
            });
        });
        </script>
    </body>
    
    	{% include "TheClickCmsAdminBundle:Layers:js.html.twig" %}
    	
</html>
