<html style=" height:100%">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=100%; initial-scale=1; maximum-scale=1; minimum-scale=1; user-scalable=no;" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="author" content="Mediadiv Ltda." />
<meta name="HandheldFriendly" content="True" />
<meta name="format-detection" content="telephone=no">
<title>
{% block title %}
Overtech - Soluciones de gestión telefónica
{% endblock %}
</title>
<link href="{{asset('bundles/theclickcmspaginas/css/style.css')}}" rel="stylesheet" type="text/css">
<!-- ticker & script -->
<link href="{{asset('bundles/theclickcmspaginas/css/ticker-style.css')}}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
<script src="{{asset('bundles/theclickcmspaginas/js/jquery.ticker.js')}}" type="text/javascript"></script>
<script src="{{asset('bundles/theclickcmspaginas/js/site.js')}}" type="text/javascript"></script>
<!-- Google Font -->
<link href='http://fonts.googleapis.com/css?family=Actor' rel='stylesheet' type='text/css'>
<!-- iconos -->
<link rel="shortcut icon" href="{{asset('bundles/theclickcmspaginas/img/favicon.ico')}}" type="image/x-icon">
<link rel="icon" href="{{asset('bundles/theclickcmsaginas/img/favicon.ico')}}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{asset('bundles/theclickcmspaginas/img/icon57.png')}}" />
<link rel="apple-touch-icon" sizes="72x72" href="{{asset('bundles/theclickcmspaginas/img/icon72.png')}}" />
<link rel="apple-touch-icon" sizes="114x114" href="{{asset('bundles/theclickcmspaginas/img/icon114.png')}}" />
<script src="{{asset('bundles/theclickcmspaginas/js/jquery.js')}}"></script>


<script src="{{asset('bundles/theclickcmspaginas/js/modernizr.custom.js')}}"></script>
<script src="{{asset('bundles/theclickcmspaginas/js/todos.js')}}"></script>
</head>


{% block body %}	


{% endblock %}




	
	<!-- Jquery generico --> 
	<script defer src="{{asset('bundles/theclickcmspaginas/js/jquery.flexslider.js')}}"></script> 
	<script src="{{asset('bundles/theclickcmspaginas/js/bgvideo.js')}}" type="text/javascript"></script>
	<script src="{{asset('bundles/theclickcmspaginas/js/jquery.dd.min.js')}}"></script> 
  	<script src="{{asset('bundles/theclickcmspaginas/js/jquery.bxslider.js')}}"></script>
	<!-- Script de video --> 
   	<script defer src="{{asset('bundles/theclickcmspaginas/js/jquery.flexslider.js')}}"></script>
  	<!-- Script para el selector de banderas --> 
  	<script src="{{asset('bundles/theclickcmspaginas/js/jquery.dd.min.js')}}"></script> 
  	<script src="{{asset('bundles/theclickcmspaginas/js/modernizr.custom.js')}}"></script>
  	<script src="{{asset('bundles/theclickcmspaginas/js/jquery.js ')}}"></script>
  	<script>
		$(document).ready(function() {
			$('.flexslider').flexslider({
		        animation: "slide",
		}); 
		})
  	</script>
 
 	<!--- //// Ocultar barra navegación  /////////////////////////////--> 
	


</body>
</html>