<div id="body-wrapper">
	<header>
		<div class="boxheader">
		
		<a id="logo" href="#"> <img src="{{asset('bundles/theclickcmspaginas/img/logo_over.png')}}" alt="Overtech"> </a> 
		<a href="#" id="logoMobile"> <img src="{{asset('bundles/theclickcmspaginas/img/logo-ot.png')}}" alt="Overtech" width="296" height="96"> </a>

<!-- BANDERAS -->		
		 <nav id="navigation">
			<a  id="ES" class="menu_button" href="" onclick="toggleNav(); return false;">
				<img src="{{asset('bundles/theclickcmspaginas/img/esp-small.png')}}" alt="" width="35" height="23">
				<div class="dropArrow"></div>
			</a>

			<ul id="navigation_list" role="navigation">
				<li style="width:50px;">

				<a id="EN" href="#">
					<img src="{{asset('bundles/theclickcmspaginas/img/eng-small.png')}}" class="bandera" id="bandera-EN" alt="" width="35" height="23"></a>
				</li>
				<li style="width:50px;">
				<a id="PT" href="#">
					<img src="{{asset('bundles/theclickcmspaginas/img/por-small.png')}}"   id="bandera-PT" class="bandera" alt="" width="35" height="23"></a>
				</li>
			</ul>
		</nav>


<script>
$(document).ready(function(e) {

	$("#navigation_list").on("click", ".bandera", function(e) {
        e.preventDefault();
        var clickedID = this.id.split('-');
        var DbNumberID = clickedID[1]; // toma el numero del array

        console.log(DbNumberID);

        
       





});



	
});
</script>
		
<!-- *** -->

<a class="acceso-int" href="{{path('vistaAcceso')}}"><span></span></a>
			<nav id="menu" class="nav">
				<ul>
					<li> <a href="{{path('the_click_cmspaginas_homepage')}}"> <span class="icon">
						<div class="homeBtn activa">Home</div>
						</span> </a> </li>
					<!-- Mobile buttons-->
						<li> <a href="login.html"> <span class="icon">
						<div class="accesoBtn">Acceso Clientes</div>
						</span> </a> </li>
					<!-- Fin Mobile buttons-->
					<li> <a href="{{path('vistaHistoria')}}"> <span class="icon">
						<div class="appBtn">Historia</div>
						</span> </a> </li>
					<li> <a href="{{path('productos')}}"> <span class="icon">
						<div class="proBtn">Productos</div>
						</span> </a> </li>
					<li> <a href="{{path('servicio')}}"> <span class="icon">
						<div class="serBtn">servicios</div>
						</span> </a> </li> 
					<li> <a href="{{path('nt')}}"> <span class="icon">
						<div class="bussiBtn">noticias</div>
						</span> </a> </li>
					<li> <a href="{{path('vistaContacto')}}"> <span class="icon">
						<div class="contactBtn">contacto</div>
						</span> </a> </li>
						<div class="alpha"></div>
				</ul>
			</nav>
		

</div>
</header>