{% extends 'TheClickCmspaginasBundle:Default:baseInterior.html.twig' %}
{% block contenido %}
  <div id="page2">
    <div class="contentint">
      
      <aside>
        <div class="title">
          <h1>Productos Descatados</h1>
           </div>
          <ul class="bxslider">
  <li><img src="{{asset('bundles/theclickcmspaginas/img/pd01.jpg')}}" title="Producto 1" /></li>
  <li><img src="{{asset('bundles/theclickcmspaginas/img/pd02.jpg')}}" title="Producto 2" /></li>
  <li><img src="{{asset('bundles/theclickcmspaginas/img/pd03.jpg')}}" title="Producto 3" /></li>
</ul>

<script type="text/javascript">
$(document).ready(function(){
$('.bxslider').bxSlider({
  mode: 'fade',
  captions: true,
  auto: true
  });
});

  </script>    
      </aside>

<section class="acceso">
<div class="clientes-sec1">
        <h2 class="title-acceso">{{actualizarusuario.titulo}}</h2>
        <h4 class="nom-clientes">{{actualizarusuario.campo4}}</h4>
        <h4 class="nom-clientes">{{persona.nombre}}</h4>
</div>
{% if persona.empresa.fotos %}
{% set fotos = persona.empresa.fotos %}
   {% for fotos in fotos %}
        
    
<div class="title-acc-logo"><img width="120" height="120" src="../../empresas/{{persona.empresa.id}}/{{fotos.url}}"></div>
  {% endfor %} 
{% endif %}
<div class="clientes-sec2">
        <h4 class="nom-clientes" style="color:#f00;">Tienes las siguientes as.urlctualizaciones:</h4>

<div class="datagrid"><table>
<thead>
  <tr>
    <th>{{actualizarusuario.campo1}}</th>
    <th>{{actualizar.campo7}}</th>
    <th></th>
    </tr>
  </thead>
<tbody>
      {% if actualizacion.idioma == "Español" and idioma == 'ES' %}
      {% set archivos =  actualizacion.archivos %}
      {% for archivos in archivos %}
      <tr>
        <td>{{actualizacion.descripcionCorta}}</td>
        <td>{{actualizacion.fechaActualizacion | date("m/d/Y") }}</td>
        <td><a href="../../actualizaciones/{{actualizacion.id}}/{{archivos.url}}" class="btn-des"><span>{{actualizar.campo8}}</span></a></td>
      </tr>
      {% endfor %}
      {% endif %}

      {% if actualizacion.idioma == "Ingles" and idioma == 'EN' %}
      {% set archivos =  actualizacion.archivos %}
      {% for archivos in archivos %}
      <tr>
        <td>{{actualizacion.descripcionCorta}}</td>
        <td>{{actualizacion.fechaActualizacion | date("m/d/Y") }}</td>
        <td><a href="../../actualizaciones/{{actualizacion.id}}/{{archivos.url}}" class="btn-des"><span>{{actualizar.campo8}}</span></a></td>
      </tr>
      {% endfor %}      
      {% endif %}
      {% if actualizacion.idioma == "Portugues" and idioma == 'PT' %}

      {% set archivos =  actualizacion.archivos %}
      {% for archivos in archivos %}
      <tr>
        <td>{{actualizacion.descripcionCorta}}</td>
        <td>{{actualizacion.fechaActualizacion | date("m/d/Y") }}</td>
        <td><a href="../../actualizaciones/{{actualizacion.id}}/{{archivos.url}}" class="btn-des"><span>{{actualizar.campo8}}</span></a></td>
      </tr>
      {% endfor %}      

      {% endif %}
</tbody>
</table>
</div>
      <div class="formularios-acceso">
            <!--
              Actualizar datos de cuenta
            -->
            <form id="micuenta" action="{{path('recibeformularioEditar')}}" method="post">
            <input name="id"  id="idUsuario"type="hidden" value="{{persona.id}}">
            <span><h4 class="nom-clientes" style="color:#f00;">{{actualizarusuario.campo6}}:</h4></span>
            <br>
            <span><h4 class="nom-clientes" style="color:#f00;">{{actualizarusuario.campo7}}:</h4></span>
            <input name="nombre" id="nombre" type="text" value="{{persona.nombre}} ">
            <span><h4 class="nom-clientes" style="color:#f00;">{{actualizarusuario.campo8}}:</h4></span>
            <input name="email" id="email" type="text" value="{{persona.email}} ">
            <span><h4 class="nom-clientes" style="color:#f00;">{{actualizarusuario.campo9}}:</h4></span>
            <select name="pais" id ="pais" class="form-control">
              <option value="Argentina">Argentina</option>
              <option value="Bolivia">Bolivia</option>
              <option value="Brasil">Brasil</option>
              <option value="Canadá">Canadá</option>
              <option value="Chile" selected>Chile</option>
              <option value="Colombia">Colombia</option>
              <option value="Costa Rica">Costa Rica</option>
              <option value="Cuba">Cuba</option>
              <option value="Dinamarca">Dinamarca</option>
              <option value="Dominica">Dominica</option>
              <option value="Ecuador">Ecuador</option>
              <option value="El Salvador">El Salvador</option>
              <option value="España">España</option>
              <option value="Estados Unidos">Estados Unidos</option>
              <option value="Guadalupe">Guadalupe</option>
              <option value="Guatemala">Guatemala</option>
              <option value="Guayana">Guayana</option>
              <option value="Guayana Francesa">Guayana Francesa</option>
              <option value="Honduras">Honduras</option>
              <option value="México">México</option>
              <option value="Panamá">Panamá</option>
              <option value="Perú">Perú</option>
              <option value="Portugal">Portugal</option>
              <option value="Puerto Rico">Puerto Rico</option>
              <option value="Reino Unido">Reino Unido</option>
              <option value="República Dominicana">República Dominicana</option>
              <option value="Uruguay">Uruguay</option>
              <option value="Venezuela">Venezuela</option>
            </select>
            <span><h4 class="nom-clientes" style="color:#f00;">{{actualizarusuario.campo10}}:</h4></span>

            <select name="empresa" id="empresa">
                <option value="{{ persona.empresa.id }}">{{ persona.empresa.nombre }}</option>
                {%  for empresas in empresas %}
                    <option value="{{ empresas.id }}"> {{ empresas.nombre }}</option>
                {% endfor %}
            </select>
            <span><h4 class="nom-clientes" style="color:#f00;">{{actualizarusuario.campo11}}:</h4></span>
            <input name="cargo" id="cargo" type="text" value="{{persona.cargo}} ">
            </form>
            <input name="boton-datos"  id="actualizar" type="submit" value="&#8250; {{actualizarusuario.campo5}}">
            <div class="vhr"></div>



            <!-- 
              Cambiar clave.
            -->
            <form id="cambiopass" name="formulario" action="{{path('cambioClave')}}" method="POST" data-validate="parsley" >
            <span>
              <h4 class="nom-clientes" style="color:#f00;">{{cambioclave.campo5}}:</h4>
            </span>
            <input type="hidden" id="usuarioId" value="{{ persona.id }}">
            <input id="claveantigua" name="claveantigua" type="text" placeholder="Clave Actual" />
            <input id="clavenueva" name="clavenueva" type="text" placeholder="Nueva Clave" id="pas1"  data-required="true"/>
            <input id="repeticionclavenueva" name="repeticionclavenueva" type="text" data-required="true"  placeholder="Repetir Nueva Clave" data-equalto="#pas1" />
            </form>
            <p id="mensajeForm" style="width: 200px;height:20px;position:relative;float: left;margin-top:4px;margin-left:30px;color:#990000;display:none; "> </p>
            <section style="clear:both;"></section>
            <section style="clear:both;"></section>
            <input name="boton-datos" id="boton-datos" type="submit" value="&#8250; {{cambioclave.campo6}}" >
          </div>
        </section>
    </div>
  </div>
  <script type="text/javascript">
  $(document).ready(function() {
    
    /*Actualizar usuarios */

    $('#actualizar').click(function() {
         var pais =  $('#pais').val();
         var email = $('#email').val();
         var nombre = $('#nombre').val();

         var myData = 'pais=' + $("#pais").val()
                         + '&email=' + $("#email").val()
                         + '&nombre=' + $("#nombre").val()
                         + '&id=' + $('#idUsuario').val()
                         + '&empresa=' + $('#empresa').val()
                         + '&cargo=' + $('#cargo').val();

            console.log(myData);

            jQuery.ajax({
                    url: $('#micuenta').attr('action'),
                    type: 'POST',
                    dataType: 'text',

                    data:  myData,
                    success: function(response){

                        var respuesta = response;

                        if(respuesta == 100){
                            alert ('Datos actualizados correctamente');
                        }
                    },
                    error: function(xhr, textStatus, errorThrown) {

                    }
                });
        });

      /* Canbiar clave */

            $("#mensajeForm").css("display", "none");
            $("#boton-datos").click(function() {
                var claveantigua = $("#claveantigua").val();
                var clavenueva = $("#clavenueva").val();
                var repeticionclavenueva = $("#repeticionclavenueva").val();


                if (claveantigua == '' || clavenueva == '' || repeticionclavenueva == '' ) {
                    $("#mensajeForm").text("una de las claves esta vacia");
                    $("#mensajeForm").css("display", "block");
                }else{
                    if(clavenueva == repeticionclavenueva){
                        jQuery.ajax({
                            url: "{{path('cambioClave')}}",
                            type: 'POST',
                            dataType: 'text',
                            data: {claveantigua: claveantigua,
                                clavenueva: clavenueva,
                                repeticionclavenueva: repeticionclavenueva
                            },
                            success: function(response) {
                                var respuesta = response;

                                if(respuesta == 1){
                                    $("#mensajeForm").text('Datos guardados correctamente');
                                    $("#mensajeForm").css("display", "block");
                                }else if(respuesta == 2){
                                    $("#mensajeForm").text("claves antiguas no coinciden");
                                    $("#mensajeForm").css("display", "block");
                                }else{
                                    $("#mensajeForm").text("Error en el servidor");
                                    $("#mensajeForm").css("display", "block");
                                };

                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                                console.log(thrownError);
                            },
                        });
                    }else{
                        $("#mensajeForm").text("claves nuevas diferentes");
                        $("#mensajeForm").css("display", "block");

                    };
                };

            });


      

  });

  </script>
  <!-- footer -->
 {% endblock %}