{% extends 'TheClickCmspaginasBundle:Default:main.html.twig' %}
{% block contenido %}
<div id="page2">
    <div class="contentint">
      
      <aside>
        <div class="title">
          <h1>Productos Descatados</h1>
           </div>
          <ul class="bxslider">

            <li><img src="{{asset('bundles/theclickcmspaginas/img/pd01.jpg')}}" title="Producto 1" /></li>
            <li><img src="{{asset('bundles/theclickcmspaginas/img/pd02.jpg')}}" title="Producto 2" /></li>
            <li><img src="{{asset('bundles/theclickcmspaginas/img/pd03.jpg')}}" title="Producto 3" /></li>
          </ul>

      </aside>

<section class="acceso">

<div class="clientes-sec1">
        <h2 class="title-acceso">Acceso Clientes</h2>
        <h4 class="nom-clientes">Bienvenido(a):</h4>
        <h4 class="nom-clientes">{{persona.nombre}}</h4>
</div>
<div class="title-acc-logo"><img src="{{asset('bundles/theclickcmspaginas/img/logo-acceso-01.jpg')}}"/></div>

<div id="clientes-sec3">
  <ul>
    <li><a href="">Mostrar Actualizaciones</a></li>
    <li><a href="">Modificar Usuario</a></li>
    <li><a href="">Cambiar Clave</a></li>
  </ul>
</div>

<div class="clientes-sec2">
        <h4 class="nom-clientes" style="color:#f00;">Tienes las siguientes actualizaciones:</h4>

<div class="datagrid"><table>
<thead><tr><th>Nombre</th><th>Fecha</th><th></th></tr></thead>
<tbody>
{% for actualizacion in actualizacion %}
  <tr>
    <td>{{actualizacion.descripcionCorta}}</td>
    <td>{{actualizacion.fechaActualizacion | date("m/d/Y")}}</td>
    <td><a href="" class="btn-des"><span>Descarga</span></a></td>
  </tr>
{% endfor %}
</tbody>
</table></div>
<div class="formularios-acceso">

<div class="vhr"></div>

</div>
</section>
</div>
</div>
  {% endblock %}