{% extends 'TheClickCmspaginasBundle:Default:main.html.twig' %}
{% block contenido %}
<div id="page2">
    <div class="contentint">
      
      <aside>
        <div class="title">
          <h1>Productos Descatados</h1>
           </div>
          <ul class="bxslider">

            <li><img src="{{asset('bundles/theclickcmspaginas/img/pd01.jpg')}}" title="Producto 1" /></li>
            <li><img src="{{asset('bundles/theclickcmspaginas/img/pd02.jpg')}}" title="Producto 2" /></li>
            <li><img src="{{asset('bundles/theclickcmspaginas/img/pd03.jpg')}}" title="Producto 3" /></li>
          </ul>

      </aside>
<section class="acceso">

<div class="clientes-sec1">
        <h2 class="title-acceso">Acceso Clientes</h2>
        <h4 class="nom-clientes">Bienvenido(a):</h4>
        <h4 class="nom-clientes">{{persona.nombre}}</h4>
</div>
<div class="title-acc-logo"><img src="{{asset('bundles/theclickcmspaginas/img/logo-acceso-01.jpg')}}"/></div>
<style>

.menuAcceso{

width: 800px;
height: 20px;
position: relative;
margin-left:35px;

margin-top: 120px;

}
.menuAcceso ul{

  list-style-type: none;

}

.menuAcceso li{

    display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}

#boton-datos{

  width: 130px;
  position: relative;
  margin-top:-20%;
  margin-left: 4.4%;


}

</style>
<div class="menuAcceso">
  <ul>
    <li><a href="{{path('vistaAcceso')}}">Mostrar Actualizaciones</a></li>
    <li><a href="{{path('vistaAccesoActualizarUsuario')}}">Modificar Usuario</a></li>
    <li><a href="{{path('vistaAccesoCambioClave')}}">Cambiar Clave</a></li>
  </ul>
</div>
{##}
<div class="formularios-acceso">
    <form id="cambiopass" name="formulario" action="{{path('cambioClave')}}" method="POST">
    	<span>
    		<h4 class="nom-clientes" style="color:#f00;">Cambio de Clave:</h4>
    	</span>
        <input id="claveantigua" name="claveantigua" type="text" placeholder="Clave Actual" value="{{persona.contrasena}}" onfocus="cambiaApass(this)" />
        <input id="clavenueva" name="clavenueva" type="text" placeholder="Nueva Clave" onfocus="cambiaApass(this)" />
        <input id="repeticionclavenueva" name="repeticionclavenueva" type="text" placeholder="Repetir Nueva Clave" onfocus="cambiaApass(this)" />
      
    </form> 
    <section style="clear:both;"></section>
      <input name="boton-datos" id="boton-datos" type="submit" value="&#8250; Cambiar Clave" >

</div>
<div class="vhr"></div>
</div>
</section>
</div>
</div>

<script>
  $(document).ready(function() {

    $("#boton-datos").click(function() {     

      alert('probando');   
       var myData = 'claveantigua=' + $("#claveantigua").val()
                            + '&clavenueva=' + $("#clavenueva").val()
                            + '&repeticionclavenueva=' + $("#repeticionclavenueva").val();

        jQuery.ajax({
          url:  $('#cambiopass').attr('action'),
          type: 'POST',
          dataType: 'text',
          data: myData,
          success: function(response){
              var respuesta = response;

              if (respuesta == '0') {
                console.log("vacio");
              }
              if (respuesta == '1'){
                console.log("Clave cambiada");
              }

              if (respuesta == '2') {
                console.log("claves nuevas diferentes");
              }

              if (respuesta == '3') {
                console.log("claves antigua diferentes");
              }
          },
          error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError);
          },
     
     });
          });
   
    });
</script>
<script type="text/javascript">

    function cambiaApass(caja) {
        nuevo=document.createElement("input");
        nuevo.setAttribute("type","password");
        nuevo.setAttribute("name",caja.name);
        nuevo.setAttribute("value","");
        document.formulario.replaceChild(nuevo,caja);
        setTimeout("nuevo.focus();",100);
    }
</script>
{% endblock %}