{% extends 'TheClickCmspaginasBundle:Default:baseInterior.html.twig' %}

{% block contenido %}
<div id="page2">
    <div class="contentint">
      
      <aside>
        <div class="title">
          <h1>Productos Descatados</h1>
           </div>
          <ul class="bxslider">

            <li><img src="{{asset('bundles/theclickcmspaginas/img/pd01.jpg')}}" title="Producto 1" /></li>
            <li><img src="{{asset('bundles/theclickcmspaginas/img/pd02.jpg')}}" title="Producto 2" /></li>
            <li><img src="{{asset('bundles/theclickcmspaginas/img/pd03.jpg')}}" title="Producto 3" /></li>
          </ul>

      </aside>
<section class="acceso">

<div class="clientes-sec1">
        <h2 class="title-acceso">{{menuacceso.titulo}}</h2>
        <h4 class="nom-clientes">{{menuacceso.campo4}}</h4>
        <h4 class="nom-clientes">{{persona.nombre}}</h4>
</div>
<div class="title-acc-logo"><img  width="100" height="100" src="../empresas/{{persona.empresa.id}}/{{persona.empresa.url}}"></div>
<style>

.menuAcceso{

width: 800px;
height: 20px;
position: relative;
margin-left:35px;

margin-top: 120px;

}
.menuAcceso ul{

  list-style-type: none;

}

.menuAcceso li{

    display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}

#boton-datos{

  width: 130px;
  position: relative;
  margin-top:-20%;
  margin-left: 4.4%;


}

</style>
<div class="menuAcceso">
  <ul>
    <li><a href="{{path('vistaAcceso')}}">{{menuacceso.campo1}}</a></li>
    <li><a href="{{path('vistaAccesoActualizarUsuario')}}">{{menuacceso.campo2}}</a></li>
    <li><a href="{{path('vistaAccesoCambioClave')}}">{{menuacceso.campo3}}</a></li>
  </ul>
</div>
{##}
<div class="formularios-acceso">
    <form id="cambiopass" name="formulario" action="{{path('cambioClave')}}" method="POST" data-validate="parsley" >
    	<span>
    		<h4 class="nom-clientes" style="color:#f00;">{{menuacceso.campo5}}:</h4>
    	</span>
        <input type="hidden" id="usuarioId" value="{{ persona.id }}">
        <input id="claveantigua" name="claveantigua" type="text" placeholder="Clave Actual" value="{{persona.contrasena}}" />
        <input id="clavenueva" name="clavenueva" type="text" placeholder="Nueva Clave" id="pas1"  data-required="true"   />
        <input id="repeticionclavenueva" name="repeticionclavenueva" type="text" data-required="true"  placeholder="Repetir Nueva Clave" data-equalto="#pas1" />
      
    </form>
    <section style="clear:both;"></section>
    <p id="mensajeForm" style="display:none;"></p>
    <section style="clear:both;"></section>
      <input name="boton-datos" id="boton-datos" type="submit" value="&#8250; {{menuacceso.campo6}}" >
</div>
<div class="vhr"></div>
</div>
</section>
</div>
</div>

<script>
  $(document).ready(function() {
    $("#mensajeForm").css("display", "none");
    $("#boton-datos").click(function() {
        var claveantigua = $("#claveantigua").val();
        var clavenueva = $("#clavenueva").val();
        var repeticionclavenueva = $("#repeticionclavenueva").val();


        if (claveantigua == '' || clavenueva == '' || repeticionclavenueva == '' ) {
            $("#mensajeForm").text("una de las claves esta vacia");
            $("#mensajeForm").css("display", "block");
        }else{
          if(clavenueva == repeticionclavenueva){
            jQuery.ajax({
              url: "{{path('cambioClave')}}",
              type: 'POST',
              dataType: 'text',
              data: {claveantigua: claveantigua,
                     clavenueva: clavenueva,
                     repeticionclavenueva: repeticionclavenueva
                    },
              success: function(response) {
                var respuesta = response;

                if(respuesta == 1){
                  $("#mensajeForm").text('Datos guardados correctamente');
                  $("#mensajeForm").css("display", "block");
                }else{  
                  $("#mensajeForm").text("Error en el servidor");
                  $("#mensajeForm").css("display", "block");
                };

              },
              error: function(xhr, ajaxOptions, thrownError) {
                console.log(thrownError);
              },
            });
          }else{
            $("#mensajeForm").text("claves nuevas diferentes");
            $("#mensajeForm").css("display", "block");
            
          };
        };

        });
    });
</script>
<script type="text/javascript">

  
</script>
{% endblock %}