

{% extends 'TheClickCmspaginasBundle:Default:baseInterior.html.twig' %}
{% block contenido %}



   <div id="page2">
    <div class="contentint">
      
      <aside>
        <div class="title"><h1>OverTech Group</h1></div>
          <span class="strongfont"><br><br>Soluciones de gestión telefónica<hr></span>
<p><b>Dirección: </b>Av. Vitacura 2808 Piso 12<br>
Las Condes – Santiago<br>
MC. 56-2- 2448 28 00<br>
Fax: 56-2- 2448 28 01<br><br>
<b>Contacto ventas:</b> Sr. Rodrigo Tomicic<br>
<b>e-mail </b><a href="mailto:ventaschile@overtechgroup.com?&subject=Información ventas">ventaschile@overtechgroup.com</a><br><br>
<b>Contacto soporte:</b> Sr. Mario Riera<br>
<b>e-mail </b><a href="mailto:soportechile@overtechgroup.com?&subject=Información soporte">soportechile@overtechgroup.com</a><br><br>
<b>Teléfonos:</b> 2243 0995 - 2224 30997 </p>
        </aside>
      
      <div class="contact">
      <p class="movilp">Para contactarnos, selecciona una opción y escribenos.</p>
      <ul>        
        <li><a href="mailto:ventaschile@overtechgroup.com?&subject=Información ventas"><b>Contacto ventas:</b> Sr. Rodrigo Tomicic</a></li>
        <li><a href="mailto:soportechile@overtechgroup.com?&subject=Información soporte">Contacto soporte:</b> Sr. Mario Riera</a></li>

      </ul>

      <p class="movilp">
        <span class="strongfont">OverTech Group - Soluciones de gestión telefónica</span><br> 
    <b>Dirección: </b>Av. Vitacura 2808 Piso 12 - Las Condes, Santiago<br><br><br>
        Telefonos:<br><a href="tel:56224482800" class="phone-link">56-2- 2448 28 00</a><br>
        Fax:<br><a href="tel:56224482801" class="phone-link">56-2- 2448 28 01</a><br>
    </p>
    
<!--               <div class="movillegal">
            <a href="terminos.html">Términos y condiciones</a><br>
            <a href="politicas.html">Políticas de privacidad</a>
          </div> -->
      
      </div> 
     
      <form action="" id="contactForm" method="POST">
      
     <h2>{{contacto.titulo}}</h2>
     <hr>
  <ul>
  <li><label class="formtitle" for="nombre">{{contacto.campo1}}</label>
  <input class="formres" name="nombre" id="nombre" placeholder="Nombre"/></li>
  
  <li><label for="email">{{contacto.campo2}}</label>
    <input type="email" name="email" id="email" placeholder="nombre@ejemplo.com" /></li>

  <li><label for="empresa">{{contacto.campo3}}</label>
    <input class="formres" name="empresa" id="empresa" placeholder="..."/></li>

  <li><label for="asunto">{{contacto.campo4}}</label>
    <input class="formres" name="asunto" id="asunto" placeholder="..."/></li>
  
  <li><label class="message" for="mensaje">{{contacto.campo5}}</label>
    <textarea name="mensaje" id="mensaje"  rows="9" placeholder="Escribenos un comentario o consulta, siempre contestamos ." ></textarea></li>
  <li>
  </form>
  <input class="enviar" id="enviar" type="submit" value="&#8250; {{contacto.campo6}}" />
  <input class="borrar" id="borrar" type="submit" value="&#8250; Borrar" />
  <hr>
  </li>

  <div id="respuesta">
    
  </div>
  
<!--
   
  <div id="respuesta">   
     <span id="respuestaMail"></span>
    
    <div id="negativa">Debes completar el Email</div>
    
  </div>
    <div id="mailIncorrecto">Mail Incorrecto</div>
    -->
  </div>
  </div>

<script type="text/javascript">
$(document).ready(function() {

      $("#respuesta").hide("fast");
      $("#mailIncorrecto").hide("fast");

      $("#enviar").click(function() {
        
          var nombre = $("#nombre").val();
          var correo = $("#email").val();
          var empresa = $("#empresa").val();
          var asunto = $("#asunto").val();
          var mensaje = $("#mensaje").val();

          if (nombre == '' || correo == '' || empresa == '' || asunto == '' || mensaje == ''){
             $("#respuesta").val('Campos Vacios');
             $("#respuesta").show("fast");
          }else{

              jQuery.ajax({
                    type: $("#contactForm").attr('method'),
                    url: "{{path('recibeContacto')}}",
                    dataType: 'text',

                    data: {
                            nombre  : nombre,
                            correo  : correo,
                            empresa : empresa,
                            asunto  : asunto,
                            mensaje : mensaje
                          },
                    success: function(response){

                        var respuesta = response;

                        if (respuesta == 100){
                           $("#respuesta").val('Correo no enviado');
                           $("#respuesta").show("fast");
                        }else{
                           $("#respuesta").val('Su correo se ah enviado satisfactoriamente');
                           $("#respuesta").show("fast");
                        };

                    },
                    error: function(xhr, textStatus, errorThrown) {
                        alert(thrownError);
                    }
              });
          }
      });

    });
</script>
{% endblock %}