

{% extends 'TheClickCmspaginasBundle:Default:baseInterior.html.twig' %}
{% block contenido %}



   <div id="page2">
    <div class="contentint">
      
      <aside>
        <div class="title"><h1>OverTech Group</h1></div>
          <span class="strongfont"><br><br>Soluciones de gestión telefónica<hr></span>
<p><b>Dirección: </b>Av. Vitacura 2808 Piso 12<br>
Las Condes – Santiago<br>
MC. 56-2- 2448 28 00<br>
Fax: 56-2- 2448 28 01<br><br>
<b>Contacto ventas:</b> Sr. Rodrigo Tomicic<br>
<b>e-mail </b><a href="mailto:ventaschile@overtechgroup.com?&subject=Información ventas">ventaschile@overtechgroup.com</a><br><br>
<b>Contacto soporte:</b> Sr. Mario Riera<br>
<b>e-mail </b><a href="mailto:soportechile@overtechgroup.com?&subject=Información soporte">soportechile@overtechgroup.com</a><br><br>
<b>Teléfonos:</b> 2243 0995 - 2224 30997 </p>
        </aside>
      
      <div class="contact">
      <p class="movilp">Para contactarnos, selecciona una opción y escribenos.</p>
      <ul>        
        <li><a href="mailto:ventaschile@overtechgroup.com?&subject=Información ventas"><b>Contacto ventas:</b> Sr. Rodrigo Tomicic</a></li>
        <li><a href="mailto:soportechile@overtechgroup.com?&subject=Información soporte">Contacto soporte:</b> Sr. Mario Riera</a></li>

      </ul>

      <p class="movilp">
        <span class="strongfont">OverTech Group - Soluciones de gestión telefónica</span><br> 
    <b>Dirección: </b>Av. Vitacura 2808 Piso 12 - Las Condes, Santiago<br><br><br>
        Telefonos:<br><a href="tel:56224482800" class="phone-link">56-2- 2448 28 00</a><br>
        Fax:<br><a href="tel:56224482801" class="phone-link">56-2- 2448 28 01</a><br>
    </p>
    
<!--               <div class="movillegal">
            <a href="terminos.html">Términos y condiciones</a><br>
            <a href="politicas.html">Políticas de privacidad</a>
          </div> -->
      
      </div> 
     
      <form id="contactForm" method="POST">
      
     <h2>{{contacto.titulo}}</h2>
     <hr>
  <ul>
  <li><label class="formtitle" for="nombre">{{contacto.campo1}}</label>
  <input class="formres" name="nombre" id="nombre" placeholder="Nombre"/></li>
  
  <li><label for="email">{{contacto.campo2}}</label>
    <input type="text" name="email" id="email" placeholder="nombre@ejemplo.com" /></li>

  <li><label for="empresa">{{contacto.campo3}}</label>
    <input class="formres" name="empresa" id="empresa" placeholder="..."/></li>

  <li><label for="asunto">{{contacto.campo4}}</label>
    <input class="formres" name="asunto" id="asunto" placeholder="..."/></li>
  
  <li><label class="message" for="mensaje">{{contacto.campo5}}</label>
    <textarea name="mensaje" id="mensaje"  rows="9" placeholder="Escribenos un comentario o consulta, siempre contestamos ." ></textarea></li>
  <li>
  </form>


  <input class="enviar" id="enviar" type="submit" value="&#8250; {{contacto.campo6}}" />
  <input class="borrar" id="borrar" type="submit" value="&#8250; Borrar" />
  

  <hr>
  </li>
  <style> 
      #respuesta{
        display: none;
      }
  </style>
  <div id="respuesta">
    
  </div>
  </div>
  </div>

<script type="text/javascript">
$(document).ready(function() {


      //Funcion valida correo

      function  validarcorreo(correo_electronico) {
        // creamos nuestra regla con expresiones regulares.
        var filter =  new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
          // utilizamos test para comprobar si el parametro valor cumple la regla
          return filter.test(correo_electronico);
      }

      
      //Borrra campos del formulario
      /*
      $("#borrar").click(function() {
        $("input[type=text]").val('');
      });         
      */
      


      $("#enviar").click(function() {

          var nombre  =  $("#nombre").val();
          var correo  =  $("#email").val();
          var empresa =  $("#empresa").val();
          var asunto  =  $("#asunto").val();
          var mensaje =  $("#mensaje").val();

          if (nombre == '' || correo == '' || empresa == '' || asunto == '' || mensaje == ''){
            alert("Campos vacios");
            /*
             $("#respuesta").val('Campos Vacios');
             $("#respuesta").css("display: block;");
             */ 
          }else{


           if(validar_email(correo)){
              alert("correo valido");

              /*

               $("#respuesta").val('Correo valido');
               $("#respuesta").css("display: block;");
            
               jQuery.ajax({
                    type: $("#contactForm").attr('method'),
                    url: "{{path('recibeContacto')}}",
                    dataType: 'text',
                    data: {
                            nombre  : nombre,
                            correo  : correo,
                            empresa : empresa,
                            asunto  : asunto,
                            mensaje : mensaje
                          },
                    success: function(response){
                        var respuesta = response;

                        if (respuesta == 100){
                           alert("100");
                           $("#respuesta").val('Correo no enviado');
                           $("#respuesta").css("display: block;");
                        }else{
                          alert("200");
                           $("#respuesta").val('Su correo se ah enviado satisfactoriamente');
                           $("#respuesta").css("display: block;");
                        };

                    },
                    error: function(xhr, textStatus, errorThrown) {
                        alert(thrownError);
                    }
              });
              */
            }else{
                alert("invalido");
                /*
                $("#respuesta").val('Correo invalido');
                $("#respuesta").css("display: block;");
                */
            }
          }
        });
      });
</script>
{% endblock %}