

{% extends 'TheClickCmspaginasBundle:Default:baseInterior.html.twig' %}
{% block contenido %}



   <div id="page2">
    <div class="contentint">
      
      <aside>
        <div class="title"><h1>OverTech Group</h1></div>
          <span class="strongfont"><br><br>Soluciones de gestión telefónica<hr></span>
<p><b>Dirección: </b>Av. Vitacura 2808 Piso 12<br>
Las Condes – Santiago<br>
MC. 56-2- 2448 28 00<br>
Fax: 56-2- 2448 28 01<br><br>
<b>Contacto ventas:</b> Sr. Rodrigo Tomicic<br>
<b>e-mail </b><a href="mailto:ventaschile@overtechgroup.com?&subject=Información ventas">ventaschile@overtechgroup.com</a><br><br>
<b>Contacto soporte:</b> Sr. Mario Riera<br>
<b>e-mail </b><a href="mailto:soportechile@overtechgroup.com?&subject=Información soporte">soportechile@overtechgroup.com</a><br><br>
<b>Teléfonos:</b> 2243 0995 - 2224 30997 </p>
        </aside>
      
      <div class="contact">
      <p class="movilp">Para contactarnos, selecciona una opción y escribenos.</p>
      <ul>        
        <li><a href="mailto:ventaschile@overtechgroup.com?&subject=Información ventas"><b>Contacto ventas:</b> Sr. Rodrigo Tomicic</a></li>
        <li><a href="mailto:soportechile@overtechgroup.com?&subject=Información soporte">Contacto soporte:</b> Sr. Mario Riera</a></li>

      </ul>

      <p class="movilp">
        <span class="strongfont">OverTech Group - Soluciones de gestión telefónica</span><br> 
    <b>Dirección: </b>Av. Vitacura 2808 Piso 12 - Las Condes, Santiago<br><br><br>
        Telefonos:<br><a href="tel:56224482800" class="phone-link">56-2- 2448 28 00</a><br>
        Fax:<br><a href="tel:56224482801" class="phone-link">56-2- 2448 28 01</a><br>
    </p>
    
<!--               <div class="movillegal">
            <a href="terminos.html">Términos y condiciones</a><br>
            <a href="politicas.html">Políticas de privacidad</a>
          </div> -->
      
      </div> 
     
      <form id="contactForm" method="POST" action="{{ path('recibeContacto') }}">
      
     <h2>{{contacto.titulo}}</h2>
     <hr>
  <ul>
  <li><label class="formtitle" for="nombre">{{contacto.campo1}}</label>
  <input class="formres" name="nombre" id="nombre" placeholder="Nombre"/></li>
  
  <li><label for="email">{{contacto.campo2}}</label>
    <input type="text" name="email" id="email" placeholder="nombre@ejemplo.com" /></li>

  <li><label for="empresa">{{contacto.campo3}}</label>
    <input class="formres" name="empresa" id="empresa" placeholder="..."/></li>

  <li><label for="asunto">{{contacto.campo4}}</label>
    <input class="formres" name="asunto" id="asunto" placeholder="..."/></li>
  
  <li><label class="message" for="mensaje">{{contacto.campo5}}</label>
    <textarea name="mensaje" id="mensaje"  rows="9" placeholder="Escribenos un comentario o consulta, siempre contestamos ." ></textarea></li>
  <li>
</li>
  </ul>



  </form>

        <div style="clear:both;"></div>

<div style="width: 600px;height:200px;position:absolute; background-color:#1a7c86; margin-top: -15%; margin-left:23%;">
  <input class="enviar" id="enviar" type="submit" value="&#8250; {{contacto.campo6}}" />
  <input class="borrar" id="borrar" type="submit" value="&#8250; Borrar" />

    <ul id="respuestaMen">
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, totam.</li>




    </ul>

</div>


  <hr>


  <div id="respuesta" style="display:block;">

    
  </div>
  </div>
  </div>

<script type="text/javascript">
$(document).ready(function() {

    $( "#enviar" ).click(function() {

$('#respuestaMen').empty();

var email = $('#email').val();
var empresa = $('#empresa').val();
var asunto = $('#asunto').val();
var mensaje = $('#mensaje').val();


        function checkEmail(email) {


            var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

            if (!filter.test(email.value)) {


                return true;
            }
        }


          var validar  = checkEmail(email);


       if(validar){



           $('#respuestaMen').append('<li>Mail invalido</li>');


       }else{





           var myData = 'email=' + email
                   + '&empresa=' + $("#empresa").val()
                   + '&asunto=' + $("#asunto").val()
                   + '&mensaje=' + $("#mensaje").val()
                   + '&nombre=' + $("#nombre").val();


           jQuery.ajax({
               type: "POST", // metodo post o get
               url: $("#contactForm").attr("action"),
               dataType: "text", // tipo datos text o json etc
               data: myData,
               success: function(response) {


                   var respuesta = response;


                   if (respuesta == 200) {

                       $('#respuestaMen').append('<li>Debes llenar los demas campos </li>');





                   }
                   if(respuesta == 900){



                   }


               },
               error: function(xhr, ajaxOptions, thrownError) {
                   alert(thrownError);

               },

           });




       }



    });



      });
</script>
{% endblock %}