{% extends 'TheClickCmspaginasBundle:Default:main.html.twig' %}
{% block contenido %}


<!-- VIDEO -->		
<img src="{{asset('bundles/theclickcmspaginas/img/loading1.gif')}}" alt="" id="dvLoading">
<script type="text/javascript">
var originalNavClasses;

function toggleNav() {
		var elem = document.getElementById('navigation_list');
		var classes = elem.className;
		if (originalNavClasses === undefined) {
				originalNavClasses = classes;
		}
		elem.className = /expanded/.test(classes) ? originalNavClasses : originalNavClasses + ' expanded';
}

</script>



<body class="intro">

 	<div id="page">
		<div class="content">
		
		<div class="box-slogan">
			<h3>Soluciones de <br> <span class="red">Gestión Telefónica</span></h3>
		</div>
		<div class="box-acceso" style="position:relative;z-index:999999999;">
			<span class="h1-clientes">Acceso Clientes</span>
				<br>
				<p>Usuario</p><input class="textbox" id="usuario" placeholder="" name="usuario" type="text">
				<p>Clave</p><input class="textbox"  id="clave" placeholder="" name="clave" type="password">
				<input id="clickme" class="button" type="submit"  value="&#8250; Enviar" name="Enviar">
				<div style="clear:both"></div>
				<p class="underline"><a href="#">Regístrate Aquí</a></p>
		</div>
		
<div id="main">
			
			<div class="box-maps-details"> 
				<section id="pais-01">
					<div class="title"><h5>Chile</h5></div>
					<br><br><br>
						<p>
						Av. Vitacura 2808 Piso 12<br>
						Las Condes – Santiago<br>
						MC. 56-2- 2448 28 00<br>
						Fax: 56-2- 2448 28 01<br><br>
						Contacto ventas: Sr. Rodrigo Tomicic<br>
						e-mail ventas: ventaschile@overtechgroup.com<br><br>
						Contacto soporte: Sr. Mario Riera<br>
						e-mail soporte: soportechile@overtechgroup.com<br>
						<hr>
<ul id="js-news" class="js-hidden">
    <li class="news-item"><a href="#">This is the 1st latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 2nd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 3rd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 4th latest news item.</a></li>
</ul>
						</p>
					<span id="cerrar-01"></span>
				</section>
			</div>
			<div class="box-maps-details"> 
				<section id="pais-02">
					<div class="title"><h5>PAIS 2</h5></div>
					<br><br><br>
						<p>
						Av. Vitacura 2808 Piso 12<br>
						Las Condes – Santiago<br>
						MC. 56-2- 2448 28 00<br>
						Fax: 56-2- 2448 28 01<br>
						<br>
						Contacto ventas: Sr. Rodrigo Tomicic<br>
						e-mail ventas: ventaschile@overtechgroup.com<br>
						<br><br>
						Contacto soporte: Sr. Mario Riera<br>
						e-mail soporte: soportechile@overtechgroup.com<br>
						</p>
					<span id="cerrar-02"></span>
				</section>
			</div>
			<div class="box-maps-details"> 
				<section id="pais-03">
					<div class="title"><h5>PAIS 3</h5></div>
					<br><br><br>
						<p>
						Av. Vitacura 2808 Piso 12<br>
						Las Condes – Santiago<br>
						MC. 56-2- 2448 28 00<br>
						Fax: 56-2- 2448 28 01<br>
						<br>
						Contacto ventas: Sr. Rodrigo Tomicic<br>
						e-mail ventas: ventaschile@overtechgroup.com<br>
						<br><br>
						Contacto soporte: Sr. Mario Riera<br>
						e-mail soporte: soportechile@overtechgroup.com<br>
						</p>
					<span id="cerrar-03"></span>
				</section>
			</div>
			<div class="box-maps-details"> 
				<section id="pais-04">
					<div class="title"><h5>PAIS 4</h5></div>
					<br><br><br>
						<p>
						Av. Vitacura 2808 Piso 12<br>
						Las Condes – Santiago<br>
						MC. 56-2- 2448 28 00<br>
						Fax: 56-2- 2448 28 01<br>
						<br>
						Contacto ventas: Sr. Rodrigo Tomicic<br>
						e-mail ventas: ventaschile@overtechgroup.com<br>
						<br><br>
						Contacto soporte: Sr. Mario Riera<br>
						e-mail soporte: soportechile@overtechgroup.com<br>
						</p>
					<span id="cerrar-04"></span>
				</section>
			</div>
			<div class="box-maps-details"> 
				<section id="pais-05">
					<div class="title"><h5>PAIS 5</h5></div>
					<br><br><br>
						<p>
						Av. Vitacura 2808 Piso 12<br>
						Las Condes – Santiago<br>
						MC. 56-2- 2448 28 00<br>
						Fax: 56-2- 2448 28 01<br>
						<br>
						Contacto ventas: Sr. Rodrigo Tomicic<br>
						e-mail ventas: ventaschile@overtechgroup.com<br>
						<br><br>
						Contacto soporte: Sr. Mario Riera<br>
						e-mail soporte: soportechile@overtechgroup.com<br>

						</p>
					<span id="cerrar-05"></span>
				</section>
			</div>
			<div class="box-maps-details"> 
				<section id="pais-06">
					<div class="title"><h5>PAIS 6</h5></div>
					<br><br><br>
						<p>
						Av. Vitacura 2808 Piso 12<br>
						Las Condes – Santiago<br>
						MC. 56-2- 2448 28 00<br>
						Fax: 56-2- 2448 28 01<br>
						<br>
						Contacto ventas: Sr. Rodrigo Tomicic<br>
						e-mail ventas: ventaschile@overtechgroup.com<br>
						<br><br>
						Contacto soporte: Sr. Mario Riera<br>
						e-mail soporte: soportechile@overtechgroup.com<br>
						</p>
					<span id="cerrar-06"></span>
				</section>
			</div>
			<div class="box-maps-details"> 
				<section id="pais-07">
					<div class="title"><h5>PAIS 7</h5></div>
					<br><br><br>
						<p>
						Av. Vitacura 2808 Piso 12<br>
						Las Condes – Santiago<br>
						MC. 56-2- 2448 28 00<br>
						Fax: 56-2- 2448 28 01<br>
						<br>
						Contacto ventas: Sr. Rodrigo Tomicic<br>
						e-mail ventas: ventaschile@overtechgroup.com<br>
						<br><br>
						Contacto soporte: Sr. Mario Riera<br>
						e-mail soporte: soportechile@overtechgroup.com<br>
						</p>
					<span id="cerrar-07"></span>
				</section>
			</div>	
				<div class="box-maps">
				<div class="box-maps-pais-01"></div>
				<div class="box-maps-pais-02"></div>
				<div class="box-maps-pais-03"></div>
				<div class="box-maps-pais-04"></div>
				<div class="box-maps-pais-05"></div>
				<div class="box-maps-pais-06"></div>
				<div class="box-maps-pais-07"></div>
				
			<img src="{{asset('bundles/theclickcmspaginas/img/maps.png')}}">
			
				</div>
			</div>
		</div>
	</div>
	
	<section id="playdiv"> <img src="{{asset('bundles/theclickcmspaginas/img/btnPlay.png')}}" alt=""> </section>
	<!-- Mascara de video y funciones -->
	<div id="mascara">
		<div id="todalapantalla-capa" class="d"data-fullscreen="{&quot;size&quot;: {&quot;width&quot;: 960, &quot;height&quot;: 540}}" style="left: -93px; top: 0px; width: 1470.2222222222222px; height: 827px;">
	
			
			<div id="videoH"> 
					<div id="contenedorVideo">
					</div>
			</div>


		</div>
	</div>
	<form id="login" action="{{path('recibeFormularioAcceso')}}"></form>
	<script>
		jQuery(document).ready(function() {
			$("#clickme").click(function() {

	        var myData = 'usuario=' + $("#usuario").val()
		               + '&clave=' + $("#clave").val()
	                ;


	        jQuery.ajax({
	            type: "POST", // metodo post o get 
	            url:  $('#login').attr('action'),
	            dataType: "text", // tipo datos text o json etc 
	            data: myData,
	            success: function(response) {
	                var respuesta = response;
	                if (respuesta = '200') {
	                	window.location = "{{path('vistaAcceso')}}";	                	
	                };

	            },
	            error: function(xhr, ajaxOptions, thrownError) {
	                alert(thrownError);
	            }

        	});
		});

		});
	</script>

	<script>
$(document).ready(function() {

$('.box-maps-details').hide();

$('.box-maps-pais-01').click(function(event) {
$('.box-maps-details').show('slow');
$('#pais-01').show('slow');
$('#pais-02').hide();
$('#pais-03').hide();
$('#pais-04').hide();
$('#pais-05').hide();
$('#pais-06').hide();
$('#pais-07').hide();

});

$('.box-maps-pais-02').click(function(event) {
$('.box-maps-details').show('slow');
$('#pais-02').show('slow');
$('#pais-01').hide();
$('#pais-03').hide();
$('#pais-04').hide();
$('#pais-05').hide();
$('#pais-06').hide();
$('#pais-07').hide();

});

$('.box-maps-pais-03').click(function(event) {
$('.box-maps-details').show('slow');
$('#pais-03').show('slow');
$('#pais-01').hide();
$('#pais-02').hide();
$('#pais-04').hide();
$('#pais-05').hide();
$('#pais-06').hide();
$('#pais-07').hide();

});

$('.box-maps-pais-04').click(function(event) {
$('.box-maps-details').show('slow');
$('#pais-04').show('slow');
$('#pais-01').hide();
$('#pais-02').hide();
$('#pais-03').hide();
$('#pais-05').hide();
$('#pais-06').hide();
$('#pais-07').hide();

});

$('.box-maps-pais-05').click(function(event) {
$('.box-maps-details').show('slow');
$('#pais-05').show('slow');
$('#pais-01').hide();
$('#pais-02').hide();
$('#pais-03').hide();
$('#pais-04').hide();
$('#pais-06').hide();
$('#pais-07').hide();

});

$('.box-maps-pais-06').click(function(event) {
$('.box-maps-details').show('slow');
$('#pais-06').show('slow');
$('#pais-01').hide();
$('#pais-02').hide();
$('#pais-03').hide();
$('#pais-04').hide();
$('#pais-05').hide();
$('#pais-07').hide();

});

$('.box-maps-pais-07').click(function(event) {
$('.box-maps-details').show('slow');
$('#pais-07').show('slow');
$('#pais-01').hide();
$('#pais-02').hide();
$('#pais-03').hide();
$('#pais-04').hide();
$('#pais-05').hide();
$('#pais-06').hide();

});


$('#cerrar').click(function(event) {	
$('.box-maps-details').hide('slow');
$('#pais-01').hide('slow');
});

$('#cerrar-01').click(function(event) {	
$('.box-maps-details').hide('slow');
$('#pais-01').hide('slow');
});

$('#cerrar-02').click(function(event) {	
$('.box-maps-details').hide('slow');
$('#pais-02').hide('slow');
});

$('#cerrar-03').click(function(event) {	
$('.box-maps-details').hide('slow');
$('#pais-03').hide('slow');
});

$('#cerrar-04').click(function(event) {	
$('.box-maps-details').hide('slow');
$('#pais-04').hide('slow');
});

$('#cerrar-05').click(function(event) {	
$('.box-maps-details').hide('slow');
$('#pais-05').hide('slow');
});

$('#cerrar-06').click(function(event) {	
$('.box-maps-details').hide('slow');
$('#pais-06').hide('slow');
});

$('#cerrar-07').click(function(event) {	
$('.box-maps-details').hide('slow');
$('#pais-07').hide('slow');
});

});
</script>



<script>
			//  The function to change the class
			var changeClass = function (r,className1,className2) {
				var regex = new RegExp("(?:^|\\s+)" + className1 + "(?:\\s+|$)");
				if( regex.test(r.className) ) {
					r.className = r.className.replace(regex,' '+className2+' ');
					}
					else{
					r.className = r.className.replace(new RegExp("(?:^|\\s+)" + className2 + "(?:\\s+|$)"),' '+className1+' ');
					}
					return r.className;
			};	

			//  Creating our button in JS for smaller screens
			var menuElements = document.getElementById('menu');
			menuElements.insertAdjacentHTML('afterBegin','<button type="button" id="menutoggle" class="navtoogle" aria-hidden="true"><i aria-hidden="true" class="icon-menu"> </i> Menu</button>');

			//  Toggle the class on click to show / hide the menu
			document.getElementById('menutoggle').onclick = function() {
				changeClass(this, 'navtoogle active', 'navtoogle');
			}
		</script> 

		<script>
	/mobile/i.test(navigator.userAgent) && !window.location.hash && setTimeout(function () {
	  window.scrollTo(0, 1);
	}, 1000);
	</script>


{% endblock %}