{% extends 'TheClickCmspaginasBundle:Default:baseInterior.html.twig' %}
{% block contenido %}

    


  <div id="page2">
    <div class="contentint">
      <aside>
        <div class="title">
        {% for noticias in noticias %}
          <h1>{{noticias.titulo}}</h1>
           </div>

  <ul class="bxslider">
    <li><img src="{{asset('bundles/theclickcmspaginas/img/pd01.jpg')}}" title="Producto 1" /></li>
    <li><img src="{{asset('bundles/theclickcmspaginas/img/pd02.jpg')}}" title="Producto 2" /></li>
    <li><img src="{{asset('bundles/theclickcmspaginas/img/pd03.jpg')}}" title="Producto 3" /></li>
  </ul>
  <script type="text/javascript">
    $(document).ready(function(){
    $('.bxslider').bxSlider({
      mode: 'fade',
      captions: true,
      auto: true
      });
    });
  </script>         

     </aside>
<section class="app">
        <h2>{{noticias.titulo}}</h2>
        <article>
        <div class="back-img"><img src="{{asset('bundles/theclickcmspaginas/img/producto-eg.jpg')}}" alt=""></div>
        {{noticias.texto | raw }}
        </article>
        <hr>
</section>
{% endfor %}
    </div>
  </div>

{% endblock %}
