{% extends 'TheClickCmspaginasBundle:Default:baseInterior.html.twig' %}
{% block contenido %}
  <div id="page2">
    <div class="contentint">
      <aside>
        <div class="title">
          <h1>Productos Descatados</h1>
           </div>
          
<ul class="bxslider">
  <li><img src="{{asset('bundles/theclickcmspaginas/img/pd01.jpg')}}" title="Producto 1" /></li>
  <li><img src="{{asset('bundles/theclickcmspaginas/img/pd02.jpg')}}" title="Producto 2" /></li>
  <li><img src="{{asset('bundles/theclickcmspaginas/img/pd03.jpg')}}" title="Producto 3" /></li>
</ul>

<script type="text/javascript">
$(document).ready(function(){
$('.bxslider').bxSlider({
  mode: 'fade',
  captions: true,
  auto: true
  });
});

  </script>         
      </aside>


<section class="app">
        <div class="title-pais"><img src="{{asset('bundles/theclickcmspaginas/img/p-mo-01.png')}}" width="46" height="30" alt=""><span><h2>Pais 01</h2></span></div>
        <article>
        <p>
        Av. Vitacura 2808 Piso 12<br>
        Las Condes – Santiago<br>
        MC. 56-2- 2448 28 00<br>
        Fax: 56-2- 2448 28 01<br>
        <br>
        Contacto ventas: Sr. Rodrigo Tomicic<br>
        e-mail ventas: ventaschile@overtechgroup.com<br>
        <br>
        Contacto soporte: Sr. Mario Riera<br>
        e-mail soporte: soportechile@overtechgroup.com<br>
      </p>  </article>

        
<ul id="js-news" class="js-hidden">
    <li class="news-item"><a href="#">This is the 1st latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 2nd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 3rd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 4th latest news item.</a></li>
</ul>
        <hr>
    <div class="title-pais"><img src="{{asset('bundles/theclickcmspaginas/img/p-mo-02.png')}}" width="46" height="30" alt=""><span><h2>Pais 02</h2></span></div>
        <article>
        <p>
        Av. Vitacura 2808 Piso 12<br>
        Las Condes – Santiago<br>
        MC. 56-2- 2448 28 00<br>
        Fax: 56-2- 2448 28 01<br>
        <br>
        Contacto ventas: Sr. Rodrigo Tomicic<br>
        e-mail ventas: ventaschile@overtechgroup.com<br>
        <br>
        Contacto soporte: Sr. Mario Riera<br>
        e-mail soporte: soportechile@overtechgroup.com<br>
      </p>  </article>

        
<ul id="js-news" class="js-hidden">
    <li class="news-item"><a href="#">This is the 1st latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 2nd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 3rd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 4th latest news item.</a></li>
</ul>
        <hr>
        <div class="title-pais"><img src="img/p-mo-03.png" width="46" height="30" alt=""><span><h2>Pais 03</h2></span></div>
        <article>
        <p>
        Av. Vitacura 2808 Piso 12<br>
        Las Condes – Santiago<br>
        MC. 56-2- 2448 28 00<br>
        Fax: 56-2- 2448 28 01<br>
        <br>
        Contacto ventas: Sr. Rodrigo Tomicic<br>
        e-mail ventas: ventaschile@overtechgroup.com<br>
        <br>
        Contacto soporte: Sr. Mario Riera<br>
        e-mail soporte: soportechile@overtechgroup.com<br>
      </p>  </article>

        
<ul id="js-news" class="js-hidden">
    <li class="news-item"><a href="#">This is the 1st latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 2nd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 3rd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 4th latest news item.</a></li>
</ul>
        <hr>
        <div class="title-pais"><img src="{{asset('bundles/theclickcmspaginas/img/p-mo-04.png')}}" width="46" height="30" alt=""><span><h2>Pais 04</h2></span></div>
        <article>
        <p>
        Av. Vitacura 2808 Piso 12<br>
        Las Condes – Santiago<br>
        MC. 56-2- 2448 28 00<br>
        Fax: 56-2- 2448 28 01<br>
        <br>
        Contacto ventas: Sr. Rodrigo Tomicic<br>
        e-mail ventas: ventaschile@overtechgroup.com<br>
        <br>
        Contacto soporte: Sr. Mario Riera<br>
        e-mail soporte: soportechile@overtechgroup.com<br>
      </p>  </article>

        
<ul id="js-news" class="js-hidden">
    <li class="news-item"><a href="#">This is the 1st latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 2nd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 3rd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 4th latest news item.</a></li>
</ul>
        <hr>
        <div class="title-pais"><img src="{{asset('bundles/theclickcmspaginas/img/p-mo-05.png')}}" width="46" height="30" alt=""><span><h2>Pais 05</h2></span></div>
        <article>
        <p>
        Av. Vitacura 2808 Piso 12<br>
        Las Condes – Santiago<br>
        MC. 56-2- 2448 28 00<br>
        Fax: 56-2- 2448 28 01<br>
        <br>
        Contacto ventas: Sr. Rodrigo Tomicic<br>
        e-mail ventas: ventaschile@overtechgroup.com<br>
        <br>
        Contacto soporte: Sr. Mario Riera<br>
        e-mail soporte: soportechile@overtechgroup.com<br>
      </p>  </article>

        
<ul id="js-news" class="js-hidden">
    <li class="news-item"><a href="#">This is the 1st latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 2nd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 3rd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 4th latest news item.</a></li>
</ul>
        <hr>
        <div class="title-pais"><img src="{{asset('bundles/theclickcmspaginas/img/p-mo-06.png')}}" width="46" height="30" alt=""><span><h2>Pais 06</h2></span></div>
        <article>
        <p>
        Av. Vitacura 2808 Piso 12<br>
        Las Condes – Santiago<br>
        MC. 56-2- 2448 28 00<br>
        Fax: 56-2- 2448 28 01<br>
        <br>
        Contacto ventas: Sr. Rodrigo Tomicic<br>
        e-mail ventas: ventaschile@overtechgroup.com<br>
        <br>
        Contacto soporte: Sr. Mario Riera<br>
        e-mail soporte: soportechile@overtechgroup.com<br>
      </p>  </article>

        
<ul id="js-news" class="js-hidden">
    <li class="news-item"><a href="#">This is the 1st latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 2nd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 3rd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 4th latest news item.</a></li>
</ul>
        <hr>
        <div class="title-pais"><img src="{{asset('bundles/theclickcmspaginas/img/p-mo-07.png')}}" width="46" height="30" alt=""><span><h2>Pais 07</h2></span></div>
        <article>
        <p>
        Av. Vitacura 2808 Piso 12<br>
        Las Condes – Santiago<br>
        MC. 56-2- 2448 28 00<br>
        Fax: 56-2- 2448 28 01<br>
        <br>
        Contacto ventas: Sr. Rodrigo Tomicic<br>
        e-mail ventas: ventaschile@overtechgroup.com<br>
        <br>
        Contacto soporte: Sr. Mario Riera<br>
        e-mail soporte: soportechile@overtechgroup.com<br>
      </p>  </article>

        
<ul id="js-news" class="js-hidden">
    <li class="news-item"><a href="#">This is the 1st latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 2nd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 3rd latest news item.</a></li>
    <li class="news-item"><a href="#">This is the 4th latest news item.</a></li>
</ul>
        <hr>
</section>
<br><br><br><br><br><br>
    </div>
  </div>
{% endblock %}